.school-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    width: 100%;
    max-width: 60px;
    height: auto;
    object-fit: contain;
    filter: brightness(0) saturate(100%);
  }
}
