.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 64px 16px 16px 16px;

  > * {
    position: relative;
    z-index: 1000;
  }
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("./images/background/all-favor-bg.webp");
  background-repeat: repeat;
  background-size: 798px 630px;
  filter: blur(5px) opacity(35%);
}

.mystery-student-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  > img {
    width: min(100%, 200px);
    height: auto;
    object-fit: cover;
  }

  > span {
    font-size: 18px;
  }
}

.pick-someone-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > button > span {
    font-size: 16px;
  }
}
